<h1 mat-dialog-title>Nova Live</h1>

<div mat-dialog-content>

    <form class="live-form" [formGroup]="liveForm">
        <mat-form-field class="example-full-width">
            <mat-label>Nome da live</mat-label>
            <input matInput formControlName="liveName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Canal</mat-label>
            <input matInput formControlName="channelName">
        </mat-form-field>



        <mat-form-field class="example-full-width">
            <mat-label>URL da live</mat-label>
            <input matInput formControlName="liveLink">
        </mat-form-field>


        <div fxLayout="row wrap">

            <div fxFlex="50" fxFill fxLayoutAlign="start center">

                <mat-form-field class="example-full-width">
                    <mat-label>Data Live </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="liveDate" name="liveDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div fxFlex></div>
            <div fxFlex="40" fxFill fxLayoutAlign="start center">
                <mat-form-field class="example-full-width">
                    <mat-label>Hora da live</mat-label>
                    <input matInput type="time" formControlName="liveTime" name="liveTime" #time>
                </mat-form-field>
            </div>


        </div>

    </form>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar </button>
    <button mat-raised-button color="primary" (click)="createLive()">Salvar</button>

</div>